body {
  background-image: url('/public/background.jpg');
  /* background: linear-gradient(to bottom, #006400, #004d00);  */
  font-family: 'Playfair Display', serif;
  /* min-height: 100vh; */
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root {
  --deal-card-dealer-x: calc(-35vw - 62.5px); /* 50vw centers the card, 62.5px is half the card width */
  --deal-card-dealer-y: 100px; /* Adjust this value as needed */
  --deal-card-player-x: calc(-35vw - 62.5px); /* 50vw centers the card, 62.5px is half the card width */
  --deal-card-player-y: 500px;
}

.table {
  position: relative;
  height: 100vh;
}

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.card {
  width: 125px;
  height: 175px;
  perspective: 1000px;
  margin: 10px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Space between chips */
}

.chips {
  background: rgba(226, 226, 213, 0.6);
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  bottom: 75px; /* Adjust as needed */
  left: 75px; /* Adjust as needed */
}

.player-game-state {

  background: rgba(226, 226, 213, 0.6);
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  bottom: 75px; /* Adjust as needed */
  left: 700px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.chips h4 {
  text-align: left;
  margin-top: 0;
}

.chip {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

.chip:hover {
  transform: translateY(-10px); /* Moves the chip up by 10 pixels */
  transition: transform 0.3s; /* Adds a smooth transition effect */
}