
@keyframes dealCardPlayer1 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(var(--deal-card-player-x), var(--deal-card-player-y)) rotateY(0deg);
        bottom: 0px;
        left: 0px;
    }
}

@keyframes dealCardPlayer2 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 20px), calc(var(--deal-card-player-y) - 20px)) rotateY(0deg);
        bottom: 2px;
        left: 2px;
    }
}

@keyframes dealCardPlayer3 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 40px), calc(var(--deal-card-player-y) - 40px)) rotateY(0deg);
        bottom: 4px;
        left: 4px;
    }
}

@keyframes dealCardPlayer4 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 60px), calc(var(--deal-card-player-y) - 60px)) rotateY(0deg);
        bottom: 6px;
        left: 6px;
    }
}

@keyframes dealCardPlayer5 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 80px), calc(var(--deal-card-player-y) - 80px)) rotateY(0deg);
        bottom: 8px;
        left: 8px;
    }
}

@keyframes dealCardPlayer6 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 100px), calc(var(--deal-card-player-y) - 100px)) rotateY(0deg);
        bottom: 10px;
        left: 10px;
    }
}

@keyframes dealCardPlayer7 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 120px), calc(var(--deal-card-player-y) - 120px)) rotateY(0deg);
        bottom: 12px;
        left: 12px;
    }
}

@keyframes dealCardPlayer8 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 140px), calc(var(--deal-card-player-y) - 140px)) rotateY(0deg);
        bottom: 14px;
        left: 14px;
    }
}

@keyframes dealCardPlayer9 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 160px), calc(var(--deal-card-player-y) - 160px)) rotateY(0deg);
        bottom: 16px;
        left: 16px;
    }
}

@keyframes dealCardPlayer10 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 180px), calc(var(--deal-card-player-y) - 180px)) rotateY(0deg);
        bottom: 18px;
        left: 18px;
    }
}

@keyframes dealCardPlayer11 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 200px), calc(var(--deal-card-player-y) - 200px)) rotateY(0deg);
        bottom: 20px;
        left: 20px;
    }
}

@keyframes dealCardPlayer12 {
    0% {
        transform: translate(0, 0) rotateY(180deg);
    }
    100% {
        transform: translate(calc(var(--deal-card-player-x) + 220px), calc(var(--deal-card-player-y) - 220px)) rotateY(0deg);
        bottom: 22px;
        left: 22px;
    }
}


.card-stack-card.deal-card-player-1 .card-inner {
    animation: dealCardPlayer1 1s forwards;
    
}

.card-stack-card.deal-card-player-2 .card-inner {
    animation: dealCardPlayer2 1s forwards;
}

.card-stack-card.deal-card-player-3 .card-inner {
    animation: dealCardPlayer3 1s forwards;
}

.card-stack-card.deal-card-player-4 .card-inner {
    animation: dealCardPlayer4 1s forwards;
}

.card-stack-card.deal-card-player-5 .card-inner {
    animation: dealCardPlayer5 1s forwards;
}

.card-stack-card.deal-card-player-6 .card-inner {
    animation: dealCardPlayer6 1s forwards;
}

.card-stack-card.deal-card-player-7 .card-inner {
    animation: dealCardPlayer7 1s forwards;
}

.card-stack-card.deal-card-player-8 .card-inner {
    animation: dealCardPlayer8 1s forwards;
}

.card-stack-card.deal-card-player-9 .card-inner {
    animation: dealCardPlayer9 1s forwards;
}

.card-stack-card.deal-card-player-10 .card-inner {
    animation: dealCardPlayer10 1s forwards;
}

.card-stack-card.deal-card-player-11 .card-inner {
    animation: dealCardPlayer11 1s forwards;
}

.card-stack-card.deal-card-player-12 .card-inner {
    animation: dealCardPlayer12 1s forwards;
}